{% extends 'base.html' %}



{% block contenido %}

<h1> Quienes somos</h1>
<br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
            <div class="card shadow-lg p-2 mb-5 bg-body rounded">
                <div class="car-body">
                    
                    <p class="fst-italic">Sumogolf es una empresa con más de 10 años de experiencia en el mundo del golf que comenzó con un taller dedicado 
                        a la reparación de palos de golf de alto nivel, para posteriormente entregar cursos de golf  y vender productos relacionados con este hermoso
                        deporte. Todos nuestros productos son de la más alta calidad, ya que contamos con las principales marcas del mercado, como una una gran variedad de 
                        implementos necesarios para que comiences en este increíble mundo que te espera ansioso.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="card shadow-lg  mb-5 bg-body rounded">
                <img src="../static/reserva/img/cla_golf/Taller.png "  >

            </div>
        </div>
    </div>
</div>

{% endblock %}